# === Node.js (anywhere) ===
**/node_modules/
**/.env

# === Python (backend) ===
**/__pycache__/
**/venv/
**/*.pdf

# === General ===
*.log
.DS_Store
.env
.env.*
!.env.example
.vscode/
.idea/

# === Resume Templates ===
/Templates
/Templates/*

# === Test Data ===
/test_data/